#footer {
  /* background-color: var(); */
  background-image: linear-gradient(var(--purple), #0E1328, var(--deep-purple));
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-links-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-links-area li {
  list-style: none;
  display: inline;
  margin: 20px;
}

#footer-links-area li:hover {
  color: var(--teal);
}

@media (max-width: 500px){
  #footer {
    height: 3rem;
  }
}
