header {
  background-color: var(--purple);
  height: 100px;
  display: flex;
}

/* Branding */
.brand {
  display: flex;
  align-items: center;
  margin-left: 100px;
  /* background-color: blue; */
}

.logo {
  width: 75px;
}

/* Nav List Items */
.nav {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  position: absolute;
  right: 100px;
  top: 25px;
}

.nav-link {
  font-size: var(--fs-nav);
  color: var(--grey);
  font-weight: var(--fw-regular);
}

.nav-link:hover {
  transform: translateY(-1px);
  transition-duration: 0.2s;
  text-shadow: 0px 2px 5px var(--black-25);
  color: var(--teal);
}

.nav-link:visited {
  color: var(--grey);
}

@media (max-width: 50em) {
  header {
    height: 75px;
    margin: 0px 10px 0px 10px;
  }

  .brand {
    margin-left: 0px;
  }

  .logo {
    width: 60px;
  }

  .nav {
    right: 10px;
    top: 20px;
    margin-right: 15px;
  }
}
