#home {
  background-image: linear-gradient(var(--purple), var(--deep-purple));
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-box {
  display: flex;
  flex-direction: column;
}

#name {
  margin-bottom: 20px;
}

.btn-box {
  /* background-color: green; */
  height: 50px;
  width: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.welcome-icon {
  width: 50px;
  color: var(--teal);
}

.action-btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 200px;
  border: var(--teal);
  box-shadow: 1px 0px 8px 1px var(--teal);
  margin-right: 20px;
}

.action-item {
  position: relative;
  top: 5px;
  margin-right: 20px;
}

@media (max-width: 800px) {
  .job {
    font-size: var(--fs-2);
  }

  .welcome-box {
    padding: 20px;
  }
}
