#work {
  background-color: var(--deep-purple);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-text-box {
  margin-right: 80px;
}

.project-title-box, 
.tech-box, 
.icons-box {
  position: relative;
  left: 15px;
}

.details-box {
  background-color: var(--purple);
  width: 400px;
  height: fit-content;
  padding: 15px 15px 5px 15px;
  border-radius: var(--br-form);
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px 0px var(--dark-teal);
}

.project-image {
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px var(--teal);
}

.image-box {
  height: 275px;
  width: 450px;
  border-radius: 15px;
}

.image-box:hover {
  box-shadow: 0px 0px 25px 1px var(--teal);
}

@media  screen and (max-width: 1000px) {
  .project {
   height: 100vh;
  }
}

/* Extra small devices (phones, 600px and down) */
@media  screen and (max-width: 600px) {
 .project {
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }

 .project-text-box {
  margin-right: 0px;
}

.project-image, 
.image-box {
  height: 275px;
  width: 95%;
}
}