.work-page {
  background-color: var(--deep-purple);
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.project-box {
  display: flex;
  justify-content: center;
}

.project-text-box {
  /* background-color: red; */
  width: 400px;
}

.details-box {
  background-color: var(--purple);
  width: 400px;
  height: fit-content;
  padding: 5px;
  border-radius: var(--br-form);
}

.image-box {
  background-color: grey;
  height: 300px;
  width: 425px;
}


/* .project-title, 
.project-tech,
.project-description, 
.live-btn,
.github-icon {
  margin-bottom: 1rem;
}

.project-title {
  font-size: 5rem;
}

.project-tech {
  font-size: 2rem;
}

.project-description {
  font-size: 2rem;
  font-style: italic;
}

.live-btn {
  font-size: 1.5rem;
  width: 7rem;
}

.github-icon {
  height: 2rem;
  width: 2.5rem;
  margin-top: 1rem;
}

.project-image {
  height: 25rem;
} */
