:root {
  /* --beige: #F7F0DE; */
}

* {
  margin: 0;
  padding: 0;
}

.screen {
  /* background-color: blue; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-col {
  /* background-color: red; */
  height: 70vh;
  width: 85rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-row { 
  /* background-color: green; */
  height: 70vh;
  width: 85rem;
  display: flex;
  justify-content: space-around;
 } 

/* Medium devices (phones, tablet, 800px and down) */
@media only screen and (max-width: 800px) {
  .screen, .content-col, .content-row {
    height: 150vh;
  } 

  .body-col {
    height: 75vh;
  }
}